/* TODO: Figure out how to change background color on death */

html {
    cursor: crosshair;
    user-select: none;
}

body {
    font-family: Geneva, serif;
    color: white;
    text-align: center;
    background-color: #05052e;
}

#lore {
    width: 485px;
    height: 165px;
    display: flex;
    background-color: #3b386e;
    
    font-family: Geneva, serif;
    font-size: 20px;
    color: white;
    line-height: 40px;
    
    margin: 20px auto 0;
    border: 3px dotted white;
    border-radius: 25px;
}

#game-over {
    font-family: Geneva, serif;
    color: white;
    text-align: center;
    background-color: black;
}

#board {
    width: 570px;
    height: 570px;
    background-color: #6561aa;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    width: 108px;
    height: 108px;
    align-content: center;

    border-radius: 100px;
}